<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:ng="http://angularjs.org">
<head>
	<title>My booking Admin Area</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/ng-table/1.0.0/dist/ng-table.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>
</head>
<body ng-app="appAdmin">
	<div class="container-fluid">
		<div th:replace="navbar :: navigation"></div>
		<ul class="nav nav-tabs">
			<li class="active"><a href="#1" data-toggle="tab">Home</a></li>
			<li><a href="#2" data-toggle="tab">Resource</a></li>
		</ul>
		<div class="tab-content">
			 <div class="tab-pane active" id="1">
       			<h3>Summary</h3>
       			<div class="row" ng-controller="adminSummaryController as adminCnt">
       				<div class="col-md-3">
       					<ul class="list-group">
       						<li class="list-group-item">
       							<span class="badge" ng-bind="adminCnt.resource.count_res"></span>
       							Number of resource:
       						</li>
       						<li class="list-group-item">
       							<span class="badge" ng-bind="adminCnt.resource.count_room"></span>
       							Number of Rooms:
       						</li>
       						<li class="list-group-item">
       							<span class="badge" ng-bind="adminCnt.resource.count_car"></span>
       							Number of Cars:
       						</li>
       						<li class="list-group-item">
       							<span class="badge" ng-bind="adminCnt.resource.count_obj"></span>
       							Number of Objects:
       						</li>
       					</ul>
       				</div>
       			</div>
			</div>
			<div class="tab-pane" id="2">
				<h3>Resource</h3>
				<div class="row" ng-controller="adminResourceController as adminResCnt">
	          		<div class="col-md-8">
		          		<div class="btn-group" role="group" aria-label="Main command">
		  					<button type="button" class="btn btn-primary" th:text="'Add New Resource'" 
		  						ng-click="adminResCnt.showForm = !adminResCnt.showForm; "></button>
		  				</div>
		  				<div class="add panel panel-default form-container" ng-show="adminResCnt.showForm">
	  						<div class="panel-body">
								<form class="form" role="form" name="addForm" novalidate ng-submit="adminResCnt.addResource(addForm, addForm.$valid)">
									<div th:replace="admin/resourceForm :: formInput"></div>	
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<h3>Available Resource</h3>
	    				<table ng-table="adminResCnt.tableParams" ng-form="tableForm" class="table table-bordered table-hover table-condensed editable-table"
	    					resource-table="resourceTable">
	        				<tr ng-repeat="row in $data" ng-form="rowForm" resource-table-row="adminResCnt.row">
	        					<td title="'Name'" sortable="'description'" ng-switch="row.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" 
	        						ng-form="name">
            						<span ng-switch-default class="editable-text">{{row.description}}</span>
            						<div class="controls" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''" ng-switch-when="true">
              							<input type="text" name="description" ng-model="row.description" class="editable-input form-control input-sm" required />
            						</div>
          						</td>
          						<td title="'Type'" sortable="'Type'" ng-switch="row.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" 
	        						ng-form="Type">
            						<span ng-switch-default class="editable-text">{{row.type}}</span>
            						<div class="controls" ng-class="type.$invalid && type.$dirty ? 'has-error' : ''" ng-switch-when="true">
              							<select ng-model="row.type" required autofocus class="editable-input form-control input-sm"> 
              								<option ng-repeat="resType in adminResCnt.resourceTypes" value="{{resType.key}}">{{resType.value}}</option>	
										</select>
            						</div>
          						</td>
	          					<td th:class="command">
	          						<button class="btn btn-primary btn-sm" ng-click="adminResCnt.updateResource(row)" ng-if="row.isEditing" 
	          							ng-disabled="rowForm.$pristine || rowForm.$invalid">
	          							<span class="glyphicon glyphicon-ok"></span>
	          						</button>
						            <button class="btn btn-default btn-sm" ng-click="adminResCnt.cancel()" ng-if="row.isEditing">
						            	<span class="glyphicon glyphicon-remove"></span>
						            </button>
						            <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing">
						            	<span class="glyphicon glyphicon-pencil"></span>
						            </button>
						            <button class="btn btn-danger btn-sm" ng-click="adminResCnt.delResource(row)" ng-if="!row.isEditing">
						            	<span class="glyphicon glyphicon-trash"></span>
						            </button>
	          					</td>
	        				</tr>
	      				</table>
	  				</div>	
  				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/angularjs/1.6.0/angular.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/angularjs/1.6.0/angular-resource.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/angularjs/1.6.0/angular-messages.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/ng-table/1.0.0/dist/ng-table.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script> 
    <script type="text/javascript" th:src="@{../../js/app.js}"></script>	
    <script type="text/javascript" th:src="@{../../js/admin/admin_services.js}"></script>
    <script type="text/javascript" th:src="@{../../js/admin/admin_controller.js}"></script>
</body>
</html>