<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:ng="http://angularjs.org">
<head>
	<title>My booking Admin Area</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/ng-table/1.0.0-beta.9/ng-table.min.css}" rel="stylesheet"/>
	<link href="../../css/app.css" th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>
</head>
<body ng-app="appAdmin">
	<div class="container-fluid">
		<div th:replace="navbar :: navigation"></div>
		<ul class="nav nav-tabs">
			<li class="active"><a href="#1" data-toggle="tab">Home</a></li>
			<li><a href="#2" data-toggle="tab">Resource</a></li>
		</ul>
		
		<div class="tab-content">
			 <div class="tab-pane active" id="1">
          			<h3>Standard tab panel created on bootstrap using nav-tabs</h3>
			</div>
			<div class="tab-pane" id="2">
          		<h3>Resource</h3>
          		<div class="btn-group" role="group" aria-label="Main command">
  					<button type="button" class="btn btn-default" th:text="'Add New Resource'" onclick="javascript:showSection('add');"></button>
  					<button type="button" class="btn btn-default" th:text="'Modify Resource'"></button>
  					<button type="button" class="btn btn-default" th:text="'Delete Resource'"></button>
				</div>
				<div class="add form-container displayNone">
					<form class="form" role="form" name="addForm" ng-controller="adminAddController">
						<div th:replace="admin/resourceForm :: formInput"></div>	
					</form>	
				</div>
				<div class="change form-container displayNone">
					<form class="form-inline" role="form" name="changeForm" ng-controller="adminChangeController">
						
					</form>	
				</div>
          		<table class="table table-hover big-top">
          			<caption><span th:text="'Available Resource'"></span></caption>
          			<thead>
          				<tr>
          					<th>#</th>
          					<th>Name</th>
          					<th>Type</th>
          				</tr>
          			</thead>
          			<tbody>
          				<tr th:each="resource, iterStatus : ${resources}">
          					<td th:text="${iterStatus.count}"></td>
							<td th:text="${resource.description}"></td>
							<td th:text="${resource.type.defaultName}"></td>
						</tr>
          			</tbody>
          		</table>
			</div>
		</div>
	</div>
	<div ng-controller="demoController as demo">
    <table ng-table="demo.defaultConfigTableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
          <td data-title="'Name'">{{row.name}}</td>
          <td data-title="'Age'">{{row.age}}</td>
        </tr>
      </table>
  </div>	
	
	<script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/angularjs/1.5.8/angular.js}"></script>
	<script th:src="@{/webjars/angularjs/1.5.8/angular-resource.min.js}"></script>
	<script th:src="@{/webjars/ng-table/1.0.0-beta.9/ng-table.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script> 
    <script src="../../js/appAdmin.js"></script>	
    <script type="text/javascript">
    	function showSection(sectionName) {
        	$('div.' + sectionName).removeClass('displayNone');	
        }
    </script>	
</body>
</html>