<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:ng="http://angularjs.org">
<body>
	<div th:fragment="formInput">
		<input type="hidden" id="id" name="id" ng-model="id"/>
		<div class="form-group col-md-8">
			<label for="description" th:text="'Description'"></label>
			<input type="text" class="form-control" id="description" name="description" required
			placeholder="Enter Resource Description" ng-model="description"/>
		</div>
		<div class="form-group col-md-8">
			<label for="type" th:text="'Typology'"></label>
			<select class="form-control" name="type" ng-model="type" required>
				<option th:value="''" th:text="'Select a Resource Type'"></option>	
				<option th:each="type : ${resourceTypes}" th:value="${type}" th:text="${type.defaultName}" />	
			</select>
		</div>
		<div class="form-actions col-md-8">
	    	<button class="btn btn-primary" ng-click="addResource()">Save</button>
	    	<button type="reset" class="btn">Reset</button>
	    </div>
	</div>
	
</body>
</html>