<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:ng="http://angularjs.org">
<body>
	<div class="col-md-3" th:fragment="summaryScheduler">
		<div class="page-header">
  			<h4>Scheduler</h4>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="(key, value) in adminCnt.scheduler">
				<span class="badge" ng-bind="value"></span>
				<span ng-bind="key"></span><span>:</span>
			</li>
		</ul>
	</div>
</body>
</html>