<!DOCTYPE html>
<div class="ngdialog-message">
	<div class="modal-header">
		<h4 class="modal-title" ng-if="scCnt.isNew">Add Appointment</h4>
		<h4 class="modal-title" ng-if="!scCnt.isNew">Change Appointment</h4>
		<ul class="list-group">
  			<li class="list-group-item list-group-item-success">
  				<strong><span ng-bind="scCnt.resourceName"></span></strong> resource selected.
  			</li>
  		</ul>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" role="form" name="appointmentForm">
       		<div class="form-group">
       			<label for="name">Name</label>
       			<input type="text" class="form-control input-sm" id="name" name="name" required
					placeholder="Enter Your Name" ng-model="scCnt.userName"/>
       		</div>
       		<div class="form-group">
       			<label for="surname">Surname</label>
       			<input type="text" class="form-control input-sm" id="surname" name="surname" required
					placeholder="Enter Your Surname" ng-model="scCnt.userSurname"/>
       		</div>
       		<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control input-sm" id="email" name="email" required
					placeholder="Enter Your email address" ng-model="scCnt.userEmail">
       		</div>
       		<div class="form-group">
				<label for="start">Start Time</label>
				<div class="input-group" moment-picker="startTimepicker" format="LT" locale="it">
    				<span class="input-group-addon">
    					<i class="glyphicon glyphicon-time"></i>
    				</span>
    				<input class="form-control input-sm" required placeholder="Select a Start time" 
    					ng-model="startTimepicker" ng-model-options="{ updateOn: 'blur' }">
				</div>
       		</div>
       		<div class="form-group">
				<label for="end">End Time</label>
				<div class="input-group" moment-picker="endTimepicker" format="LT" locale="it">
    				<span class="input-group-addon">
    					<i class="glyphicon glyphicon-time"></i>
    				</span>
    				<input class="form-control input-sm" required placeholder="Select a End time" 
    					ng-model="endTimepicker" ng-model-options="{ updateOn: 'blur' }">
				</div>
       		</div>
        </form>
    </div>
    <div class="modal-footer form-actions">
    	<button type="button" class="btn btn-default" ng-click="closeThisDialog()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveScheduler()">Save changes</button>
    </div>
</div>