<!DOCTYPE html>
<div class="ngdialog-message">
	<div class="modal-header">
		<h4 class="modal-title">Show Appointment</h4>
		<ul class="list-group">
  			<li class="list-group-item list-group-item-success center">
  				<strong><span ng-bind="summaryCnt.resourceName"></span></strong>
  			</li>
  		</ul>
	</div>
	<div class="modal-body">
		<dl>
			<dt>Name</dt>
			<dd>{{summaryCnt.userName}}</dd>
			<dt>Surname</dt>
			<dd>{{summaryCnt.userSurname}}</dd>
			<dt>Email</dt>
			<dd>{{summaryCnt.userEmail}}</dd>
			<dt>Start Time</dt>
			<dd>{{summaryCnt.selectedStartTime}}</dd>
			<dt>End Time</dt>
			<dd>{{summaryCnt.selectedEndTime}}</dd>
		</dl>
		<form class="form-horizontal" role="form" name="summaryForm" >
			<div class="form-group" ng-show="summaryCnt.checkCodeRequire" 
				ng-class="{'has-error': summaryForm.checkCode.$touched && summaryForm.checkCode.$invalid}">
				<label for="checkCode">Chek Code</label>
				<input type="text" class="form-control input-sm" name="checkCode" ng-model="summaryCnt.checkCode" 
					placeholder="Please enter Check Code" required />
			</div>
		</form>
    </div>
    <div class="modal-footer form-actions">
    	<button type="button" class="btn btn-default" ng-click="closeThisDialog();">Close</button>
    	<button type="button" class="btn btn-primary" ng-click="summaryCnt.deleteAppoitment();">Delete</button>
    </div>
</div>