
.displayNone{
	display: none;
}

.highlight {
	background-color: #e6e6e6;
}

.command {
	cursor: default;
}

.navbar-right {
	margin-right: 25px;
}

.big-top {
	margin-top: 10px;
}

div.form-container {
	margin-top: 10px;
	margin-bottom: 10px;	
}