<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>My booking</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
	
	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link href="../css/app.css" th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>
</head>
<body>
	<header>
		
	</header>
	<p class="center" th:text="'My Booking App'" />
	
	
	<footer>
		
	</footer>
	<script src="http://cdn.jsdelivr.net/webjars/angularjs/1.5.8/angular.min.js"
        th:src="@{/webjars/angularjs/1.5.8/angular.min.js}"></script>
       
</body>
</html>