<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>My booking Login</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
	
	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link href="../css/app.css" th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>
</head>
<body>
	<div th:fragment="login" class="container-fluid">
		<div th:replace="navbar :: navigation"></div>
		<div class="row">
	        <form name="f" th:action="@{/login.html}" method="post" role="form">             
	            <fieldset>
	                <div class="form-group col-md-8">
	                	<label for="username">Username</label>
	                	<input type="text" id="username" name="username" placeholder="Username" class="form-control"/>        	
	                </div>
	                <div class="form-group col-md-8">
	                	<label for="password">Password</label>
	                	<input type="password" id="password" name="password" placeholder="Password" class="form-control"/>	
	                </div>
	                <div class="form-actions col-md-8">
	                	<button type="submit" class="btn btn-primary">Log in</button>
	                </div>
	            </fieldset>
	        </form>
        </div>
        <div class="row big-top">
        	<div class="col-md-8">
		        <div th:if="${param.error}" class="alert alert-danger">    
		        	<p th:text="'Invalid username and password.'"/>
		        </div>
	        </div>
        </div>
    </div>
    
    <script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/angularjs/1.5.8/angular.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script> 
</body>
</html>