<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/dialect">
<body>
	<nav th:fragment="navigation" class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand navbar-link" th:href="@{/}">My booking Application</a>
		</div>
		<div sec:authorize="isAnonymous()">
			<p class="navbar-text navbar-right">
				<a th:href="@{/login.html}" class="navbar-link">Login</a>
			</p>
		</div>
		<div sec:authorize="isAuthenticated()">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="${#authentication.name}"></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/admin/adminPanel.html}">Admin Area</a></li>
						<li><a th:href="@{/admin/logout.html}">Logout</a></li>
					</ul>
				</li>
			</ul>	
		</div>
	</nav>		
</body>
</html>